body,html {
height: 100%;
    margin: 0;
}
body{
    background-image: url("../img/3.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
.login{
    background-color: rgba(255,255,255,0.6);
    margin: auto;
    height: 350px;
    width: 500px;
    position: relative;
    top: 150px;
    text-align: center;

    border: #e1e9ff;
}
h1{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: white 3px solid;
}
input{
    height: 30px;
    width: 300px;
    margin: 20px;
    font-size: 14px;
    border-radius: 6px;
}
button {
    height: 30px;
    width: 60px;
}
